header{
	padding-top: 15%;
}


.texto-alinhado{
	text-align: center;
}

.row-botao{
	margin-top: 15%;
}

.bubu{
	padding: 30px; 
	text-align: center;
	align-content: center;
	
}

.margem{
	margin-top:200px;
}